<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Élimination - Undercover</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="card elimination-card">
        <div class="big-icon">❌</div>

        <h1>{{ joueur.nom }}</h1>

        <p class="eliminated">a été éliminé !</p>

        <div class="role-box">
          <span>Son rôle :</span>

          <strong> {{ joueur.role }} </strong>
        </div>

        <a href="{{ url_for('jeu') }}" class="button"> Continuer la partie </a>
      </div>
    </div>
  </body>
</html>
